<div class="content">
  <div class="container">
    <div class="row" *ngFor="let post of posts | async">
      <div class="blogpost">
        <h3><a href="/post/{{post.id}}" class="text-title">{{post.title}}</a></h3>
        <div>
          <i class="author-font"></i> Author: <p class="author-font">{{post.username}}</p>
        </div>
        <p [innerHTML]="post.content"></p>
        <div>
          <a type="button" href="/post/{{post.id}}" class="read-more btn btn-secondary">Read More</a>
        </div>
        <hr>
      </div>
      <hr>
    </div>
  </div>
</div>
